    /* Media query for mobile devices (max-width: 767px)
    @media (max-width: 767px) {
      .mobileClass {
        padding-left: 15px
        padding-right: 15px;
      }
    }*/

    .mobileClass{
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
    }


/*fade in header*/
h1{animation: 5s ease-out 0s 1 FadeIn;}
@keyframes FadeIn {
    0% {
        opacity:0;
        }
    100% {
        opacity:1;
        }
}

/*next block for contact.html*/
#contactFormSubmit{
  background-color: magenta;
  color: black;
}

/*next 3 blocks are some tweaks for resume.html*/
.leftPanelInfo{
  font-size: 16px;
  line-height: 50%;
  padding-left:20px;
}

.resumeItem{
  padding: 30px;
}

.resumeBox:hover{
  box-shadow: 0 0 3px 3px magenta;
}


/* next 3 blocks are lines of code for faq.html */

 .answer {
  display: none;
}
.collapsible {
  transition: height 0.3s ease-in-out;
}

.chevron {
  float: right;
  width: 30px;
  height: 30px;
}


.form-control {
  border:1px solid magenta;
}

.form-border{
  border:1px solid magenta;
}

#contactForm{
  background-color: none;
}

/*NAVBAR---------------------------------------*/

/* Add a magenta background color to the top navigation */
/*.topnav {
  background-color: magenta;
  overflow: hidden;
  white-space: nowrap;
}*/


.navbar-nav{
  background-color: magenta;
  /*color: magenta;*/
  width: 100%;
}

.navbar-nav li:hover {
  color: black;
  font-weight: bold;
  /*border:3px solid black;*/
}

.container-fluid{
  background-color: magenta;
}

.nav-item{
  padding-left: 40px;
  float: left;
  display: flex; /* For better layout control */
  justify-content: flex-start; /* Align pills to the left, if desired */
  align-items: center; /* Vertically center the pills within the navbar */
  margin-left: 0px;
  width: 100px;
  text-align: left;
}


/*pill*/

.pill-nav {
    /*  If you want the pills to be horizontal, you can use inline-block and float: left for older browsers  */
    display: flex; /* For better layout control */
    justify-content: flex-start; /* Align pills to the left, if desired */
    align-items: center; /* Vertically center the pills within the navbar */
    margin-left: 0px;
    width: 100px
}

.containerPill{
  margin-left: 0px !important;
  justify-content: start;
  display:grid;
  align-items: start;
  text-align: left;
  align-self:flex-start;
  float: left;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}


/*
.containerPill {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 40px;
  width: 40px;
  border: 0;
  margin-left: 0px;
}*/


/*40px on navbar*/
.pill-nav a {  
    display: inline-block; /* Ensure each pill is a block-level element */
    padding: 8px 16px; /* Add some padding to the pills */
    margin-left: 40px;
    border-radius: 16px;
    /*border-radius: 22px; /* Round the corners for a pill effect */
    text-decoration: none; /* Remove underlines from links */
    color: black;
    background-color: magenta; /* Dark background */
    margin-right: 4px; /* Add some spacing between pills */
    transition: background-color 0.3s ease; /* Smooth background color change */
    border:3px solid black;
    float: left;
    /*float: left;
    width: 120px;
    padding-right: 10px;*/
 }

 
.body-pill a{
  margin-left: 0 !important;
  background-color: magenta;
  color: black;
 /* border-radius: 22px;*/
  border-radius: 16px;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 3px solid black;  
}

.body-pill a:hover{
    background-color: lightblue; /* Darker background on hover and for active pills */
    /*border:3px solid black;*/
    transform: scale(1.2);   
}

.pill-nav a:hover, .pill-nav a.active .nav-item a:hover .body-pill a:hover{
    background-color: lightblue; /* Darker background on hover and for active pills */
    /*border:3px solid black;*/
    transform: scale(1.2); 
    margin-left: 0px;
}

.pill-nav a{
  /*border:3px solid black;*/
  color: black;
  margin-left: 0px;
}


