.answer{
  visibility: hidden;
}


p{
font-size: 19px;
}

ul.navbar-nav a:hover {
   color:  black;
   font-weight: bold; 
}

/*fade in header*/
h1{animation: 5s ease-out 0s 1 FadeIn;}
@keyframes FadeIn {
    0% {
        opacity:0;
        }
    100% {
        opacity:1;
        }
}

.card:hover {
  box-shadow: none;
}

.card{
background-color: bisque;
color: black;
}

h2{
font-size: 24px;
}


h3{
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  }

h4{
font-size: 16px;
padding:0;
margin:0;
}

h5{
  font-size: 15px;
  font-weight: normal;
  color: black !important;  
  }

h6{
font-size: 20px;
font-weight: bold;
color: black !important;
/*margin-top: 25px;
padding-top: 25px;*/
}

ul{
  font-size: 16px;
  padding:0;
  margin:0; 
}

li{
  padding-inline-start: 30px;
  list-style-position: inside;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='magenta' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='magenta' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

#second-card{
  float:inline-end;
}

#compColors { 
    display: inline-block;
    align-self: self-start;
    /*justify-items: justify-content-start;*/ 
}

#contactFormSubmit{
  background-color: magenta;
}

.form-border{
  border-color: magenta;
}

float {
  responsive: true;
  property: float;
  values: (
    start: left;
    end: right;
    none: none;
  )
}

/*dark mode*/
container.box{
  background-color: black;
  color: white;    
}

.dark-mode{
  background-color: black;
  color: white; 
  .box{background-color: black; color: white;}
}

ul.navbar{
  background-color: black;
  color: white;  
}

.navbar{
  background-color: magenta;
}


.darkNav {
  background: rgba( 0, 0, 0, 0.25 );
  color: white;
}

.darkButton {
  background-color: white;
  color: black;
}
[aria-expanded="true"] .fa-chevron-circle-up, 
[aria-expanded="false"] .fa-chevron-circle-down {
    display:none;
}


.container i {
  float: right; /* Pushes the icon to the right */
}

#DarkModeToggle{
  /*text-underline-position: none;
  color: black !important; 
  font-size: 14px;
  text-indent: 3px !important; 
  color: black !important; 
  text-indent: 10px;*/

  text-decoration: none !important;
  font-family: Arial;
  text-underline-position: none;
  color: black !important; 
  font-size: 16px !important;
  text-indent: 20px !important;  
  padding-bottom: 10px;


}
/*
.navbar a{
  font-family: 'Comic Sans' !important;
}*/


.settingsMenu{
 /* font-size: 12px !important;
  text-indent: 15px; 
  margin-left: 20px;
  padding-bottom: 10px; */

  text-decoration: none !important;
  font-family: Arial;
  text-underline-position: none;
  color: black !important; 
  font-size: 16px !important;
  text-indent: 20px !important;  
  padding-bottom: 10px;
}



.settingsClass{
  text-decoration: none !important;
  font-family: Arial;
  text-underline-position: none;
  color: black !important; 
  font-size: 20px;
  text-indent: 30px !important;  
  padding-bottom: 10px;
}


#settingsClass a{
  text-underline-position: none;
  font-size: 20px;
  text-indent: 3px !important; 
  color: black !important; 
  margin-bottom: 50px;
}


#settingsGroup a{
  text-decoration: none !important;
  font-family: Arial;
  text-underline-position: none;
  color: black !important;
  font-size: 20px;
  text-indent: 30px !important;
  margin-bottom: 50px;
}



a.settings{
  text-indent: 30px !important;
}


.navbar-dark .navbar-nav .nav-link {
  font-family: "Six Caps";
  font-size: xx-large;
}


#indent{
  text-indent: 20px;
}



.google-slides-container {
  position: relative;
  width: 100%;
  padding-top: 60%; /* Adjust based on your slide's aspect ratio */
  overflow: hidden;
}

.google-slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive Google Slides, Google Maps, YouTube & Vimeo
iframe[src*="docs.google.com"],
iframe[src*="google.com/maps"],
iframe[src*="youtube.com"],
iframe[src*="player.vimeo.com"]{
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
} 

.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.container {
  margin-left: 0!important;
  margin-right: 0!important;
}